  <header>
    <%= image_tag("onmacon_logo.gif", :alt => "OnMaCon", :class => "round") %>
    <nav class="round">
        <ul>
            <li><%= link_to "Home", home_path %></li>
            <li><%= link_to "Reporting", report_path %></li>
        </ul>
        <hr>
    </nav>
  </header>